# environment file
.env

# pycache
__pycache__/

# virtual environment
venv/

# vscode
.vscode/

# logs
logs/

# csv files
*.csv

#json files
*.json

# images
*.png
*.jpg
*.jpeg
*.gif
*.svg

# videos
*.mp4
*.webm
